@import "tailwindcss";

.font-funnel {
    font-family: 'Playfair Display', serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-limelight {
    font-family: 'Playfair Display', serif;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

:target {
    scroll-margin-top: 120px;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}
